<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!---<link rel="stylesheet" type="text/css" href="../styles.css" />--->
    <title>About US</title>
</head>
<body>
<header>
    <div class="container">
      <h1 class="logo"></h1>
        <nav>
        <ul id="menu">
            <li><a href="/djangoapp/index.html">Home</a></li>
            <li><a href="/djangoapp/dealer_details.html">Dealers</a></li>
            <li><a href="/djangoapp/about.html">About</a></li>
            <li><a href="/djangoapp/contact.html">Contact</a></li>
        </ul>
        </nav>
    </div>
  </header>
<p>Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</p>
</body>
</html>